@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Pretendard-Bold";
  src: url("/fonts/pretendard-bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Organetto-ExtBold";
  src: url("/fonts/organetto-extbold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "TT-Firs-Neue-Medium";
  src: url("/fonts/tt_firs_neue_medium.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "TT-Firs-Neue-Regular";
  src: url("/fonts/tt_firs_neue_regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "TT-Firs-Neue-light";
  src: url("/fonts/tt_firs_neue_light.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
